body {
  background-image: url("../images/background.png");
  background-attachment: fixed;
  background-color: black;
  background-position: center;
  text-align: center;
}

header {
  font-size: 30px;
  padding: 0px;
  color: white;
}

label.label_input_wrap {
  display: block;
  vertical-align: top;
  padding: 10px;
  font-size: 30px;
  color: white;
}

input,
textarea {
  border: 1px solid black;
  padding: 9px 11px;
  background-color: #C6C5C5;
  width: 500px;
}

/*Radio Button*/
.radiobutton {
  font-size: 30px;
  color:white;
  padding-bottom: 8px;
}

.radiobutton p {
  margin-bottom: 6px;
}

input[type="radio"] {
  max-width: 20px;
  vertical-align: middle;
  display: inline-grid;
  margin-top: 0;
}

/*Dropdown Menu */
select {
  padding: 16px 20px;
  border: none;
  border-radius: 10px;
  width: 100px;
  background-color: #C6C5C5;
  font-size: 20px;
}

/*submit button style*/
input[type= "submit"] {
  padding:10px 40px;
  margin: 30px 5px;
  background-color: #C6C5C5;
  color: black;
  border: none;
  font-size: 26px;
}
