body {
  background-image: url("../images/background.png");
  background-attachment: fixed;
  background-color: black;
  background-position: center;
  text-align: center;
  align: center;
}

header {
  font-size: 30px;
  padding: 0px;
  color: white;
}
